#Ignore
*__pycache__*

database/*__pycache__*
discover/*__pycache__*
evaluate/*__pycache__*
generator/*__pycache__*
logdata/*__pycache__*
model/*__pycache__*
synthetic/*__pycache__*
utilitys/*__pycache__*

#Except
!.gitignore
